@import url("./bais.css");


@media screen and (max-width: 370px) 
    {
        
        body 
        {
            font-size: 17px;
        }
       
    }

/************ start header ****************************************************************************************/
.header
{
    padding: 20px 5px;
    box-shadow: 0px 25px 50px;
    position: sticky;
}

.header .logo  .row
{
    gap: 5px;
}

.header .logo img
{
    width: 40px;
}

.header .logo p
{
    color:var(--mainColor);
    font-family: var(--mainfont);
}

.header .navbar i
{
    display: none;
}

.header .navbar ul 
{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.header .navbar ul a 
{
    font-family: var(--mainfont);
    color: black;
}

.header .navbar ul .active
{
    font-weight: bold;
}



.header .auth 
{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.header .auth .login
{
    font-family: var(--primefont);
    color: var(--mainColor);
    border: 0.4px solid var(--mainColor) ;
    border-radius: 4.11px ;
    padding: 5.3541765213012695px 20.18113136291504px;
}

.header .auth .register
{
    font-family: var(--primefont);
    color: var(--primeColor);
    background-color: var(--mainColor);
    border: 0.4px solid var(--mainColor) ;
    border-radius: 4.11px ;
    padding: 5.3541765213012695px 20.18113136291504px;
}





@media screen and (max-width: 1200px) 
{
 
    .header .navbar ul 
    {
        display: none;
    }

    .header .navbar i
    {
        display: block;
    }

    .header .navbar
    {
        order: 2;
    }

}


@media screen and (max-width: 696px) 
{

    .header .auth
    {
        display: none;
    }

}


@media screen and (max-width: 460px) 
{
    .container
    {
        width:calc(100% - 50px);
        margin: auto;
    }

    .header .navbar
    {
        margin-right: 0px;
    }

}


/************ end header ****************************************************************************************/


/************ start TakingCourses ****************************************************************************************/

.TakingCourses
{
    margin-top: 30px;
    color: var(--primeColor);
    background: linear-gradient(180deg, #545be8 0%, #272db0 100%);
}

.TakingCourses a
{
    color: #F0C932;
}

.TakingCourses .row
{
    gap: 120px;
    
}

.start-taking-courses
{
    width: calc((100% - 120px)/2);
    
}

.start-taking-courses img
{
    width: 100%;
}

.end-taking-courses
{
    width: calc((100% - 120px)/2);
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;

}

.end-taking-courses .statistics
{
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    margin-top: 15px;
}

.statistics .PeopleViews a
{
    margin-left: 27px;
}


.statistics .Course a
{
    margin-left: 11px;
}





















/************ end TakingCourses ****************************************************************************************/


/************ start Courses ****************************************************************************************/

.Courses
{
    margin-top: 50px;
    
}

.Courses .row
{
    align-items:start;
    gap: 20px;
}

.Courses img
{
    width: 100%;
    filter: brightness(70%);
}

.Courses .description
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;

    padding: 5px;
}

.Courses .description span:last-of-type
{
    font-family: var(--mainfont);
    align-self: flex-end;
    color:aliceblue;
    font-weight: bold;
    padding: 3px;
    
}

.Courses .description span:first-of-type
{
    font-family: var(--mainfont);
    background-color: #545BE8;
    color: aliceblue;
    padding: 3px;

}




.Courses .courses-start
{
    width: calc((60% - 20px));
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: space-around;
    
}

.courses-start
.html-css, 
.Photographer,
.JavaScript,
.DesainGrafis
{
    width: calc((100% - 40px)/2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0px 7.437575340270996px 7.437575340270996px rgba(0, 0, 0, 0.05);
}


.top-html-css,
.top-Photographer,
.top-JavaScript,
.top-DesainGrafis
{
    width: 100%;
    position: relative;

}



.bottom-html-css,
.bottom-Photographer,
.bottom-JavaScript,
.bottom-DesainGrafis
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 7px;

}

.bottom-html-css div:first-of-type,
.bottom-Photographer div:first-of-type,
.bottom-JavaScript div:first-of-type,
.bottom-DesainGrafis div:first-of-type

{
    font-family: var(--mainfont);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.bottom-html-css div:last-of-type,
.bottom-Photographer div:last-of-type,
.bottom-JavaScript div:last-of-type,
.bottom-DesainGrafis div:last-of-type
{
    font-family: var(--mainfont);
    color: #969696;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}







.Courses .courses-end
{
    width: calc((40% - 20px) );
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;

}

.courses-end p
{
    color: #969696;
}


.courses-end 
p,
h2
{
    font-family: var(--mainfont);
}


.courses-end a
{
    font-family: var(--primefont);
}

.courses-end a:last-of-type
{
    width: fit-content;
    color: var(--primeColor);
    text-align: center;
    background-color: var(--mainColor);
    border: 0.4px solid var(--mainColor) ;
    border-radius: 4.11px ;
    padding: 10.3541765213012695px 40.18113136291504px;
}





@media screen and (max-width: 1220px) 
{

    .Courses .row
    {
        flex-direction: column;
    }

    .Courses .courses-start
    {
        width:100%;
        order: 2;
    }

    .Courses .courses-end
    {
        width:100%;
        text-align: center;
        align-items: center;
    }
}



@media screen and (max-width: 775px) 
{

    .courses-start
    .html-css, 
    .Photographer,
    .JavaScript,
    .DesainGrafis
    {
        width: 100%;
    }
}

@media screen and (max-width: 480px)
{

    .Courses .description span:first-of-type
    {
        padding: 0px;
    }

} 



/************ end Courses ****************************************************************************************/


/************ start Testimonials ****************************************************************************************/

.Testimonials
{
    margin: 50px 0px 40px;
    
}

.Testimonials h2
{
    text-align: center;
    margin-bottom: 45px;
}

.Testimonials-start
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width: calc((100% - 60px) / 2);
    box-shadow: -20px 20.23719596862793px 6.23719596862793px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 60px;
    position: relative;
}

.Testimonials-start ::after
{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border-top:35px solid #aeaeae;
    border-bottom: 35px solid transparent;
    border-right: 35px solid #aeaeae;
    border-left: 35px solid transparent;
}

.Testimonials-start .user-data img
{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.Testimonials-start .user-data
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.Testimonials-start .user-name
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.Testimonials-start .star
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}




.Testimonials-end
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width: calc((100% - 60px) / 2);
    box-shadow: -20px 20.23719596862793px 6.23719596862793px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 60px;
    position: relative;
    
}

.Testimonials-end ::after
{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border-top:35px solid #aeaeae;
    border-bottom: 35px solid transparent;
    border-right: 35px solid #aeaeae;
    border-left: 35px solid transparent;

}



.Testimonials-end .user-data img
{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.Testimonials-end .user-data
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.Testimonials-end .star
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

  


@media screen and (max-width: 1000px) 
{

    

    .Testimonials .row
    {
        gap: 30px;
        text-align: center;
    }


    .Testimonials .user-data 
    {
        flex-direction: column;
    }


    .Testimonials .star
    {
        justify-content: center;
    }


    .Testimonials .user-data img 
    {
        width:  130px;
        height: 130px;
    }

    


    .Testimonials-start
    {
        width: 100%;
    
    }

    
    .Testimonials-end
    {
        width: 100%;
       
    }

}

/************ end Testimonials ****************************************************************************************/



/************ start footer ****************************************************************************************/

.footer
{
    background-color: #393E46;
    color: var(--primeColor);
    padding: 60px 5px;
    font-family: var(--mainfont);
}

.footer a
{
    color: var(--primeColor);
}

.footer .row
{
    gap: 70px;
}

.start-footer
{
    width: calc((100% - 70px)/2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column ;
    gap: 35px ;
}

.start-footer .logo img
{
    width: 30px;
}

.start-footer .logo
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    gap: 5px;
    
}

.start-footer .icon img
{
    width: 15px;
    border: 0.4px solid var(--primeColor);
    padding: 5px;
}



.end-footer
{
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 70px)/2);
    justify-content: space-evenly;
}

.end-footer .nav-end-footer
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


@media screen and (max-width: 1200px) 
{
    .footer .row
    {
        flex-direction: column;
        gap: 50px;
    }


    .start-footer
    {
        width: 100%;
        margin: auto;
        align-items: center;
        text-align: center;
    }


    .end-footer
    {
        width: 100%;
        justify-content:center;
        gap: 70px;
        
    }

}


@media screen and (max-width: 800px)
{

    .end-footer .nav-end-footer
    {
        width: calc((100% - 120px) / 2);
        align-items: center;

    }

} 


@media screen and (max-width: 560px)
{

    .end-footer .nav-end-footer
    {
        width: calc((100% - 120px));
        align-items: center;
        margin: auto;
        
    }

}

/************ end footer ****************************************************************************************/







